<!doctype html>
<html lang="fr">

<head>
    <!-- Meta informations -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <title>
        <%= title %> - YouGES
    </title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon/favicon-16x16.png">
    <link rel="manifest" href="/icons/favicon/site.webmanifest">

    <!-- CSS stylesheets -->
    <link rel='stylesheet' href='/lib/bootstrap-5.0.2/css/bootstrap.min.css' />
    <link rel="stylesheet" href='/css/global.css'>

    <!-- JS scripts -->
    <script src="/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/lib/bootstrap-5.0.2/js/bootstrap.min.js"></script>
    <!-- <script src="/lib/schedule/js/main.js"></script> -->
    <script>
        document.getElementsByTagName("html")[0].className += " js";
    </script>